In [40]:
import pandas as pd
from pathlib import Path
import hvplot.pandas
import numpy as np
import ipywidgets
from vega_datasets import data as vds

In [273]:
living_cost = Path("c:/Users/amirh/Project-1/Data/Raw/cost_of_living.csv")

In [274]:
living_cost = pd.read_csv(living_cost)

In [275]:
living_cost.head()

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,"Zurich, Switzerland",128.29,61.66,96.42,127.96,124.73,126.90
1,2,"Basel, Switzerland",125.54,45.76,87.38,124.99,123.11,121.47
2,3,"Lausanne, Switzerland",124.02,50.64,88.92,127.26,123.61,110.52
3,4,"Geneva, Switzerland",118.98,68.47,94.82,112.88,119.58,111.16
4,5,"Bern, Switzerland",116.03,40.52,79.91,107.58,115.56,131.89

In [276]:
mask = living_cost.City.str.count(',') > 1
living_cost[mask].head()

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
10,11,"New York, NY, United States",100.00,100.00,100.00,100.00,100.00,100.00
11,12,"San Francisco, CA, United States",91.51,115.58,103.02,86.91,94.45,135.90
12,13,"Anchorage, AK, United States",91.36,38.94,66.29,88.42,78.89,118.44
13,14,"Honolulu, HI, United States",89.70,63.03,76.94,89.83,83.60,88.29
14,15,"Brooklyn, NY, United States",88.82,80.49,84.84,83.22,92.77,92.95

In [277]:
united_states = living_cost[living_cost.City.str.count(',') > 1]

In [278]:
united_states[['City Name', 'State', 'Country']] = united_states.City.str.split(',', expand=True)

In [290]:
united_states.head()

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,City Name,State,Country
10,11,"New York, NY, United States",100.00,100.00,100.00,100.00,100.00,100.00,New York,NY,United States
11,12,"San Francisco, CA, United States",91.51,115.58,103.02,86.91,94.45,135.90,San Francisco,CA,United States
12,13,"Anchorage, AK, United States",91.36,38.94,66.29,88.42,78.89,118.44,Anchorage,AK,United States
13,14,"Honolulu, HI, United States",89.70,63.03,76.94,89.83,83.60,88.29,Honolulu,HI,United States
14,15,"Brooklyn, NY, United States",88.82,80.49,84.84,83.22,92.77,92.95,Brooklyn,NY,United States

In [280]:
from ipywidgets import interact
import panel as pn

In [281]:
united_states['State'] = united_states['State'].str.lstrip()

In [289]:
#united_states = united_states.reset_index()
#united_states.drop(columns=['index', 'level_0'], inplace=True)
united_states

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,City Name,State,Country
10,11,"New York, NY, United States",100.00,100.00,100.00,100.00,100.00,100.00,New York,NY,United States
11,12,"San Francisco, CA, United States",91.51,115.58,103.02,86.91,94.45,135.90,San Francisco,CA,United States
12,13,"Anchorage, AK, United States",91.36,38.94,66.29,88.42,78.89,118.44,Anchorage,AK,United States
13,14,"Honolulu, HI, United States",89.70,63.03,76.94,89.83,83.60,88.29,Honolulu,HI,United States
14,15,"Brooklyn, NY, United States",88.82,80.49,84.84,83.22,92.77,92.95,Brooklyn,NY,United States
16,17,"Washington, DC, United States",87.74,78.18,83.17,86.44,87.48,130.25,Washington,DC,United States
18,19,"Oakland, CA, United States",86.51,79.55,83.18,89.28,74.62,113.60,Oakland,CA,United States
21,22,"Seattle, WA, United States",85.77,65.70,76.17,81.69,81.25,133.43,Seattle,WA,United States
25,26,"Boston, MA, United States",82.88,74.47,78.86,81.23,81.85,112.39,Boston,MA,United States
26,27,"Bellevue, WA, United States",82.18,63.24,73.12,76.86,76.62,163.27,Bellevue,WA,United States
31,32,"Chicago, IL, United States",80.18,58.64,69.88,76.47,76.67,113.52,Chicago,IL,United States
34,35,"Sarasota, FL, United States",79.26,46.44,63.56,89.30,71.73,81.80,Sarasota,FL,United States
38,39,"Philadelphia, PA, United States",78.84,46.87,63.55,77.46,72.85,100.23,Philadelphia,PA,United States
39,40,"San Jose, CA, United States",78.64,83.34,80.89,71.39,83.18,143.48,San Jose,CA,United States
40,41,"Portland, OR, United States",78.63,49.42,64.66,75.96,68.96,112.82,Portland,OR,United States
42,43,"New Orleans, LA, United States",78.46,41.29,60.68,77.42,75.81,89.79,New Orleans,LA,United States
44,45,"Sacramento, CA, United States",77.00,46.21,62.27,69.53,76.08,115.40,Sacramento,CA,United States
48,49,"Minneapolis, MN, United States",76.70,45.26,61.66,67.93,78.55,127.18,Minneapolis,MN,United States
49,50,"Los Angeles, CA, United States",76.55,72.90,74.80,71.23,79.98,113.78,Los Angeles,CA,United States
57,58,"Albany, NY, United States",75.44,33.00,55.14,69.52,80.36,105.08,Albany,NY,United States
63,64,"Jacksonville, FL, United States",74.57,33.58,54.97,76.90,78.78,120.90,Jacksonville,FL,United States
65,66,"Baltimore, MD, United States",74.29,42.61,59.14,67.97,76.71,125.24,Baltimore,MD,United States
66,67,"San Diego, CA, United States",74.22,66.83,70.68,67.60,76.77,130.19,San Diego,CA,United States
67,68,"Miami, FL, United States",74.16,57.56,66.22,67.44,78.44,100.26,Miami,FL,United States
69,70,"Buffalo, NY, United States",73.92,28.28,52.09,69.38,71.15,107.05,Buffalo,NY,United States
71,72,"Atlanta, GA, United States",73.89,46.82,60.94,69.78,69.78,140.47,Atlanta,GA,United States
72,73,"Reno, NV, United States",73.85,38.22,56.81,75.03,75.19,116.10,Reno,NV,United States
74,75,"Pittsburgh, PA, United States",73.61,35.86,55.55,70.41,63.39,123.08,Pittsburgh,PA,United States
76,77,"Denver, CO, United States",73.30,51.98,63.11,65.06,78.18,130.33,Denver,CO,United States
77,78,"Nashville, TN, United States",73.19,46.76,60.55,65.28,80.79,122.67,Nashville,TN,United States
87,88,"Charlotte, NC, United States",72.40,42.37,58.04,62.17,79.73,144.29,Charlotte,NC,United States
97,98,"Tucson, AZ, United States",72.12,26.44,50.27,63.64,69.70,105.20,Tucson,AZ,United States
99,100,"Olympia, WA, United States",71.88,41.28,57.24,67.46,70.79,129.19,Olympia,WA,United States
105,106,"Colorado Springs, CO, United States",70.97,36.00,54.24,70.06,59.38,112.61,Colorado Springs,CO,United States
107,108,"Tacoma, WA, United States",70.88,41.20,56.68,59.71,71.33,113.92,Tacoma,WA,United States
108,109,"Saint Louis, MO, United States",70.78,28.97,50.79,70.32,64.46,126.33,Saint Louis,MO,United States
111,112,"Columbus, OH, United States",70.50,31.39,51.79,66.32,67.40,142.17,Columbus,OH,United States
122,123,"Raleigh, NC, United States",69.80,36.60,53.92,70.87,66.78,145.30,Raleigh,NC,United States
129,130,"Kansas City, MO, United States",69.17,30.51,50.68,61.07,74.16,134.63,Kansas City,MO,United States
139,140,"Dallas, TX, United States",68.03,47.05,58.00,60.90,70.47,155.30,Dallas,TX,United States
141,142,"Austin, TX, United States",67.79,52.04,60.26,63.85,72.03,145.76,Austin,TX,United States
143,144,"Las Vegas, NV, United States",67.46,36.26,52.53,55.73,76.28,127.88,Las Vegas,NV,United States
145,146,"Phoenix, AZ, United States",67.41,36.18,52.47,61.50,67.80,127.26,Phoenix,AZ,United States
147,148,"Richmond, VA, United States",67.20,33.88,51.26,59.13,76.44,112.57,Richmond,VA,United States
148,149,"Tampa, FL, United States",67.10,40.83,54.53,64.79,63.51,126.19,Tampa,FL,United States
152,153,"Louisville, KY, United States",66.72,28.71,48.54,58.92,78.00,116.78,Louisville,KY,United States
156,157,"Indianapolis, IN, United States",66.34,29.25,48.60,61.97,62.59,110.02,Indianapolis,IN,United States
163,164,"San Antonio, TX, United States",65.78,36.50,51.77,62.69,64.86,116.40,San Antonio,TX,United States
164,165,"Orlando, FL, United States",65.70,41.51,54.13,58.33,72.03,102.08,Orlando,FL,United States
167,168,"Houston, TX, United States",65.13,42.70,54.40,56.68,77.10,141.31,Houston,TX,United States
171,172,"Salt Lake City, UT, United States",64.76,36.83,51.40,58.33,67.24,129.35,Salt Lake City,UT,United States
172,173,"Madison, WI, United States",64.67,38.11,51.96,56.29,69.31,124.31,Madison,WI,United States
175,176,"Tulsa, OK, United States",64.28,26.38,46.15,63.59,59.30,117.97,Tulsa,OK,United States
179,180,"Detroit, MI, United States",63.85,37.80,51.39,63.33,58.91,78.58,Detroit,MI,United States
192,193,"Cincinnati, OH, United States",61.64,33.99,48.42,56.83,60.54,131.81,Cincinnati,OH,United States
196,197,"Boise, ID, United States",60.71,34.47,48.16,50.39,69.52,99.05,Boise,ID,United States
198,199,"Little Rock, AR, United States",59.76,26.39,43.80,51.17,68.05,124.54,Little Rock,AR,United States
220,221,"El Paso, TX, United States",52.38,22.71,38.19,52.57,39.93,127.67,El Paso,TX,United States

In [283]:
list_of_states = sorted(united_states.State.unique().tolist())

In [284]:
def cost_comparison(state):
    df = united_states[united_states['State'] == state]
    chart = df.hvplot(x='City Name', 
                     y='Cost of Living Index', 
                     kind='bar', rot=45).opts(fontscale=1, title='City Cost Comparison')
    chart_1 = df.hvplot(x='City Name', 
                     y='Rent Index', 
                     kind='bar').opts(fontscale=1, title='Rent Comparison')
    chart_2 = df.hvplot(x='City Name', 
                     y='Groceries Index', 
                     kind='bar', rot=45).opts(fontscale=1, title='Groceries Comparison')
    chart_3 = df.hvplot(x='City Name', 
                     y='Local Purchasing Power Index', 
                     kind='bar', rot=45).opts(fontscale=1, title='Purchasing Power Comparison')
    
    return pn.Column(f'# Analysis for {state}', pn.Row(chart, chart_1), pn.Row(chart_2, chart_3))

In [285]:
interact(cost_comparison, state=list_of_states)

interactive(children=(Dropdown(description='state', options=('AK', 'AR', 'AZ', 'CA', 'CO', 'DC', 'FL', 'GA', '…

In [253]:

def cost_comparison(state):
    df = united_states[united_states['State'] == state]
    chart = df.hvplot(x='City Name', 
                     y='Cost of Living Index', 
                     kind='bar', rot=45).opts(fontscale=1, title='City Cost Comparison')
    
    return chart

interact(cost_comparison, state=list_of_states)

interactive(children=(Dropdown(description='state', options=('AK', 'AR', 'AZ', 'CA', 'CO', 'DC', 'FL', 'GA', '…

In [266]:
fig1= united_states.hvplot(x='City Name', y='Cost of Living Plus Rent Index', kind='bar').opts(fontscale=2, width=1200, height=800, title='City Cost Comparison', xrotation=90)
fig1

:Bars   [City Name]   (Cost of Living Plus Rent Index)